{% extends 'music/base.html' %}
{% block title %}Viber{% endblock%}
{% block body %}
<ul style="list-style-type: none;">
    {% for album in all_albums %}
        <div class="col-md-4">
        <div class="jumbotron">
        <center>
        	<img src="{{ album.album_logo.url }}" width="300px" height="300px"/>
        	<li><h2>{{ album.album_title }}</h2></li>
        	<li><h3>{{ album.artist }}</h3></li>
            <a href="{% url 'music:detail' album.id %}"><button type="button" class="btn btn-info btn-lg">View Details</button></a>
            <form action="{% url 'music:album-delete' album.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-lg"><span class="glyphicon glyphicon-trash"></span></button>
            </form>
            <button type="button" class="btn"><span class="glyphicon glyphicon-star-empty"></span></button>
        </center>
        </div>
        </div>
    {% endfor %}
</ul>
{% endblock %}
